* {
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
  font-weight: 500;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800;900&display=swap");
@import url('https://unpkg.com/leaflet/dist/leaflet.css');
